$orange_main: #FF9640;
$orange_second: #FF7400;
$sand_main: #FFCF70;
$sand_transp: #ffcf7059;
$sand_second: #FFBF40;
$peach: #FFB273;
$blue_main: #385BAB;
$aqua_main: #59CCCC;
$aqua_second: #269999;
$white: #ffffff;
$black: #000000;
